html,
body {
  background: #000;
  height: 100%;
}
.container {
  height: 100vh;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
img.responsive-img {
  width: 50vh;
  animation-duration: 4s;
  animation-name: fadeIn;
}
.fa-facebook-square {
  color: #3b5998;
  padding-top: 10vh;
}
.fa-envelope {
  color: #fff;
  padding-top: 5vh;
}
.fa-youtube-square {
  color: #ff0000;
  padding-top: 10vh;
}
