body {
  background: #000;
  margin: 0 auto;
}
.main {
  margin: 0 auto;
}
img {
  display: block;
  /* max-width: 512px; */
  margin: 30px auto;
  max-width: 80%;
  max-height: 80vh;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -35%);
}
